{% extends "base.html" %}

{% block header %}
	<h1>{% block title %}
		Posts
	{% endblock %}</h1>
	{% if g.user %}
		<a class="action" href="{{ url_for('blog.create') }}">New</a>
	{% endif %}
{% endblock %}


{% block content %}
	{% for post in posts %}
		<article class="post">
			<header>
				<div>
					<h1>{{ post["title"] }}</h1>
					<div class="about">by {{ post["username"] }} on {{ post["created"].strftime("%Y-%m-%d") }}</div>
				</div>
				{% if g.user["id"] == post["author_id"] %}
					<a class="action" href="{{ url_for('blog.update', id=post['id']) }}">Edit</a>
				{% endif %}
			</header>
			<p class="body"	>{{ post["body"] }}</p>
		</article>
		{% if not loop.last %}
			<!-- <hr> 태그는 의미적인 요소로 규정하여 주제를 분리하기 위한 용도로 사용, 수평선을 표현하기도 함 -->
			<hr>
		{% endif %}
	{% endfor %}
{% endblock %}